## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
0,0,Comodoro Rivadavia,AR,-45.8667,-67.5000,49.86,43,0,17.27,clear sky
1,1,Rikitea,PF,-23.1203,-134.9692,74.37,78,48,19.82,scattered clouds
2,2,New Norfolk,AU,-42.7826,147.0587,47.71,56,100,1.01,overcast clouds
3,3,Hithadhoo,MV,-0.6000,73.0833,83.52,76,99,18.19,overcast clouds
4,4,Ancud,CL,-41.8697,-73.8203,51.33,48,1,8.25,clear sky

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your vacation?"))
max_temp = float(input("What is the maximum temperature you would like for your vacation?"))

What is the minimum temperature you would like for your vacation?70
What is the maximum temperature you would like for your vacation?90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] > min_temp) & (city_data_df["Max Temp"] < max_temp)]
preferred_cities_df

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
1,1,Rikitea,PF,-23.1203,-134.9692,74.37,78,48,19.82,scattered clouds
3,3,Hithadhoo,MV,-0.6000,73.0833,83.52,76,99,18.19,overcast clouds
6,6,Alyangula,AU,-13.8483,136.4192,79.21,77,17,8.48,few clouds
10,10,Poptun,GT,16.3311,-89.4169,75.90,90,97,2.91,overcast clouds
11,11,Mangrol,IN,21.1167,70.1167,81.14,82,66,8.19,broken clouds
...,...,...,...,...,...,...,...,...,...,...
712,712,Wamba,NG,8.9333,8.6000,76.96,84,99,2.26,light rain
713,713,Buchanan,LR,5.8808,-10.0467,80.56,87,26,7.96,scattered clouds
715,715,Iowa City,US,41.6611,-91.5302,72.46,60,90,8.05,overcast clouds
716,716,Mogwase,ZA,-25.1850,27.2665,71.92,40,50,3.02,scattered clouds
718,718,Tiarei,PF,-17.5333,-149.3333,82.42,68,20,13.67,few clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

Unnamed: 0     0
City           0
Country        0
Lat            0
Lng            0
Max Temp       0
Humidity       0
Cloudiness     0
Wind Speed     0
Description    0
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df = preferred_cities_df.dropna()

In [7]:
preferred_cities_df

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
1,1,Rikitea,PF,-23.1203,-134.9692,74.37,78,48,19.82,scattered clouds
3,3,Hithadhoo,MV,-0.6000,73.0833,83.52,76,99,18.19,overcast clouds
6,6,Alyangula,AU,-13.8483,136.4192,79.21,77,17,8.48,few clouds
10,10,Poptun,GT,16.3311,-89.4169,75.90,90,97,2.91,overcast clouds
11,11,Mangrol,IN,21.1167,70.1167,81.14,82,66,8.19,broken clouds
...,...,...,...,...,...,...,...,...,...,...
712,712,Wamba,NG,8.9333,8.6000,76.96,84,99,2.26,light rain
713,713,Buchanan,LR,5.8808,-10.0467,80.56,87,26,7.96,scattered clouds
715,715,Iowa City,US,41.6611,-91.5302,72.46,60,90,8.05,overcast clouds
716,716,Mogwase,ZA,-25.1850,27.2665,71.92,40,50,3.02,scattered clouds
718,718,Tiarei,PF,-17.5333,-149.3333,82.42,68,20,13.67,few clouds

In [8]:
preferred_cities_df.isnull().sum()

Unnamed: 0     0
City           0
Country        0
Lat            0
Lng            0
Max Temp       0
Humidity       0
Cloudiness     0
Wind Speed     0
Description    0
dtype: int64

In [17]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(20)

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
1,Rikitea,PF,74.37,scattered clouds,-23.1203,-134.9692,
3,Hithadhoo,MV,83.52,overcast clouds,-0.6000,73.0833,
6,Alyangula,AU,79.21,few clouds,-13.8483,136.4192,
10,Poptun,GT,75.90,overcast clouds,16.3311,-89.4169,
11,Mangrol,IN,81.14,broken clouds,21.1167,70.1167,
12,Isangel,VU,78.39,clear sky,-19.5500,169.2667,
15,Kavieng,PG,80.58,moderate rain,-2.5744,150.7967,
16,Butaritari,KI,81.81,few clouds,3.0707,172.7902,
17,Hilo,US,83.28,light rain,19.7297,-155.0900,
25,Souillac,MU,71.37,light rain,-20.5167,57.5167,
26,Vao,NC,71.28,few clouds,-22.6667,167.4833,
28,Mahajanga,MG,77.47,moderate rain,-15.7167,46.3167,
33,Vallenar,CL,76.78,clear sky,-28.5708,-70.7581,
37,Arraial Do Cabo,BR,71.46,overcast clouds,-22.9661,-42.0278,
39,Lompoc,US,86.02,clear sky,34.6391,-120.4579,
40,Broome,US,72.01,overcast clouds,42.2506,-75.8330,
43,Malkangiri,IN,74.91,clear sky,18.3500,81.9000,
47,Victoria,HK,84.38,clear sky,22.2855,114.1577,
49,Abaetetuba,BR,86.04,overcast clouds,-1.7181,-48.8825,
51,Galle,LK,78.51,overcast clouds,6.0367,80.2170,

In [18]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"

    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    
    except(IndexError):
        print("Hotel Not Found....skipping")

Hotel Not Found....skipping
Hotel Not Found....skipping
Hotel Not Found....skipping
Hotel Not Found....skipping
Hotel Not Found....skipping
Hotel Not Found....skipping
Hotel Not Found....skipping
Hotel Not Found....skipping
Hotel Not Found....skipping

In [20]:
# 7. Drop the rows where there is no Hotel Name.
named_hotel_df = hotel_df[hotel_df["Hotel Name"]!= ""]
named_hotel_df

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
1,Rikitea,PF,74.37,scattered clouds,-23.1203,-134.9692,People ThankYou
3,Hithadhoo,MV,83.52,overcast clouds,-0.6000,73.0833,Scoop Guest House
6,Alyangula,AU,79.21,few clouds,-13.8483,136.4192,Groote Eylandt Lodge
10,Poptun,GT,75.90,overcast clouds,16.3311,-89.4169,Hotel Sevilla
11,Mangrol,IN,81.14,broken clouds,21.1167,70.1167,Hotel The Royal Honours
...,...,...,...,...,...,...,...
712,Wamba,NG,76.96,light rain,8.9333,8.6000,Roma Zee Guest House Annex
713,Buchanan,LR,80.56,scattered clouds,5.8808,-10.0467,Kamaneahn Hotel Inc
715,Iowa City,US,72.46,overcast clouds,41.6611,-91.5302,Hampton Inn Iowa City/University Area
716,Mogwase,ZA,71.92,scattered clouds,-25.1850,27.2665,De Skaap Accommodation & Event Venue
718,Tiarei,PF,82.42,few clouds,-17.5333,-149.3333,Le Rocher de Tahiti

In [14]:
# 8a. Create the output File (CSV)
output_data_file = "hotels.csv"
# 8b. Export the City_Data into a csv
named_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [29]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd> {Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in named_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = named_hotel_df[["Lat", "Lng"]]

# 11a. Add a marker layer for each city to the map. 
# 11b. Display the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))